{% extends "base.html" %}
{% block content %}

<section class="container">
    <h1>Compra de criptos</h1>
    <form action="/compra" method="post">
        {{ form.csrf_token }}
    <div id="form-container">
        <div class="form-column">
            {{ form.from_currency.label }}
            {{ form.from_currency }}
            <label for="cantidad_from">Cantidad From:</label>
            {{ form.cantidad_from(class="form-control") }}
            <div>
                <button type="button" id="validate"></button>
            </div>
        </div>
        <div class="form-column">
            {{ form.to_currency.label }}
            {{ form.to_currency(class="form-control") }}
                <div>
                    {{ form.cantidad_to.label }}
                    {{ form.cantidad_to(class="form-control") }}
                </div>
                <div id="button-container">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            
        </div>
    </div>
    </form>
</section>

{% endblock %}
