{% extends "base.html" %}
{% block content %}

<section class="container">
    <h1>Compra de criptos</h1>
    <div id="form-container">
        <div class="form-column">
            <label for="from">From:</label>
            <select id="from" name="from">
                <option value="option1">EUR</option>
                <option value="option2">BTC</option>
                <option value="option3">ETH</option>
                <option value="option4">BNB</option>
                <option value="option5">ADA</option>
                <option value="option6">DOT</option>
                <option value="option7">XRP</option>
                <option value="option8">SOL</option>
                <option value="option9">USDT</option>
                <option value="option10">MATIC</option>
            </select>
            <label for="cantidad_from">Cantidad From:</label>
            <input type="text" id="cantidad_from" name="cantidad_from">
                <div>
                    <button type="button" id="validate"></button>
                </div>
        </div>
        <div class="form-column">
            <label for="to">To:</label>
            <select id="to" name="to">
                <option value="option1">BTC</option>
                <option value="option2">ETH</option>
                <option value="option3">BNB</option>
                <option value="option4">ADA</option>
                <option value="option5">DOT</option>
                <option value="option6">XRP</option>
                <option value="option7">SOL</option>
                <option value="option8">USDT</option>
                <option value="option9">MATIC</option>
                <option value="option10">EUR</option>
            </select>
            <form action="/{{ the_form.cantidad_to }}" method="post">
                {{ the_form.csrf_token }}
                <div>
                    <label for="cantidad_to">Cantidad:</label>
                     {{ the_form.cantidad_to }}
                </div>
            </form>
                 
                <div id="button-container">                
                    <button type="button" id="submit">✓</button>        
                </div>
        </div>

    </div>

</section>

{% endblock %}

