<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P.Final</title>
    <link rel="stylesheet" href="/static/pico.css">
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <header>
        <p align="left">Mis criptos</p>
    </header>
    <nav class="container">
        <ul>
            <li class="disabled"><a href="/">Inicio</a></li>
            <li><a href="/compra">Compra</a></li>
            <li><a href="/status">Status</a></li>
        </ul>

    </nav>
    <h1 align="center">Mis transacciones</h1>
    <form>
        <table class="container">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>From</th>
            <th>QuantityFrom</th>
            <th>To</th>
            <th>QuantityTo</th>
            <th>PrecioUnidad</th>
        </tr>
        </table>
    </form>
    <section id="contenido">

    </section>
    <footer>
        <p align="left">&copy; 2023 - Todos los derechos reservados</p>
    </footer>
</body>
</html>