{% extends "base.html" %}
{% block content %}

    <section>
        <h1 align="center">ESTADO DE LA INVERSIÓN</h1>
        <form>
            <table class="container">
                <tr>
                    <th>Moneda</th>
                    <th>Cantidad</th>
                    <th>Valor en euros</th>

                </tr>
                {% for movement in movements %}
                <tr>
                    <td>{{ movement.moneda_from }}</td>
                    <td>{{ movement.quantity_from }}</td>
                    <td>{{ movement.moneda_from }}</td>

                {% endfor %}
            </table>        
        </form>
            <div class="container">
            <div class="container1">
                <p>Valor actual: <input type="text" id="valor-actual" /></p>
                <p>Precio de compra: <input type="text" id="precio-compra" /></p>
                <p>Resultado de la inversión: <input type="text" id="resultado-inversion" /></p>
            </div>
            </div>
    </section>



{% endblock %}