{% extends "base.html" %}
{% block content %}

    <section>
        <h1 align="center">ESTADO DE LA INVERSIÓN</h1>
        <form>
            <table class="container">
                <tr>
                    <th>Moneda</th>
                    <th>Cantidad</th>
                    <th>Valor en euros</th>
                </tr>
                {% for data_crypto in data_cryptos %}
                <tr>
                    <td>{{ data_crypto[0] }}</td>
                    <td>{{ data_crypto[1] }}</td>
                    <td>{{ data_crypto[2]|round(2) }}</td>
                {% endfor %}
            </table>
        </form>
        <div class="container">
            <div class="container1">
                <p>Valor total de la inversión en euros: {{ total_inversion }}</p>
                <p>Precio de compra: {{ porcentaje_cambio }}%</p>
                <p>Resultado de la inversión: ...</p>
            </div>
        </div>
    </section>

{% endblock %}

